.app {
    max-width: 24.375rem; /* 390px */
    margin: 0 auto;
    padding: 7.5rem 1rem 5rem; /* 120px 16px 80px */
    font-family: var(--sans);
    font-size: 0.875rem; /* 14px */
    font-weight: 350;
    line-height: 160%;
    hyphens: auto;
}

.app__title {
    color: var(--stone-700);
    font-weight: 600;
}

.app__description {
    margin-top: 2.5rem; /* 40px */
    color: var(--stone-500);
}

.app__items {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
    margin-top: 7.5rem; /* 120px */
}

.app__button {
    display: flex;
    max-width: max-content;
    margin-top: 5rem; /* 80px */
    padding: .75rem 1rem; /* 12px 16px */
    color: var(--stone-500);
    text-decoration: none;
    background: var(--stone-100);
    border-radius: .25rem; /* 4px */
    box-shadow: 0 0 0 1px var(--stone-100);
    transition: background 200ms ease-out, 
        box-shadow 200ms ease-out,
        transform 200ms ease-out;
}

.app__button:hover {
    background: var(--white);
    box-shadow: 0 0 0 1px var(--stone-200);
}

.app__button:focus {
    transform: scale(95%);
}
