:root {
    /* Colors */
    --white: #FFFFFF;
    --stone-50: #FAFAF9;
    --stone-100: #F5F5F4;
    --stone-200: #E7E5E4;
    --stone-300: #D6D3D1;
    --stone-400: #A6A09B;
    --stone-500: #79716B;
    --stone-600: #57534D;
    --stone-700: #44403B;
    --stone-800: #292524;
    --stone-900: #1C1917;
    --stone-950: #0C0A09;

    /* Fonts */
    --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
